
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Class</title>
</head>
<body>
<h1>View class: <span th:text="${learnClass.name}"></span></h1>
<a href="/class">Class list</a>
<br>
<br>
<a href="/pupils">Pupils list</a>
<br>
<table border="1" style="width: 50%">
    <tr>
        <th> Name</th>
        <th>Mail</th>

    </tr>
    <th:block th:each="p : ${pupils}">
        <tr>
            <td th:text="${p.name}"></td>
<td th:text="${p.getMail()}"></td>
        </tr>
    </th:block>
</table>
</body>
</html>